body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#lio {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  margin-left: 90px;
}

.section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 50px;
  margin-left: 225px;
}

.section li {
  float: left;
}

.section li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 1.3rem;
}

.item a:hover {
  color: #216dbb;
  text-decoration: underline;
}

.item a {
  color: black;
}
